MusicStreamerBackend/.idea/.idea.MusicStreamerBackend/.idea
MusicStreamerBackend/bin/Debug/net10.0
MusicStreamerBackend/obj/Debug/net10.0
MusicStreamerBackend/obj
MusicStreamerBackend/MusicStreamerBackend.sln.DotSettings.user
